In [1]:
%load_ext autoreload
%autoreload 2

import sys
import os

# Agrega la ruta del directorio 'src' al path
sys.path.append(os.path.abspath('../src'))

# Ahora puedes importar tus módulos
from procesamiento_datos import *
#from data_synthetic import *
#from evaluation import *
#from modeling import *

Función de procesamiento de datos cargadas correctamente.

In [2]:
repo_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
print("Ruta raíz del repositorio:", repo_root)

Ruta raíz del repositorio: d:\Desarrollo\Repositorios\Modelos_Deterioro_NIIF9

In [6]:
# Definir la ruta a la carpeta 'data/raw'
datos_raw = "..//data/raw/"

# Cargar los datos
df_deterioro = cargar_datos(datos_raw + "Historico_Deterioro_ABC.csv")
df_ipc = cargar_datos(datos_raw + "Historico_IPC.csv", sep=';')
df_tasas = cargar_datos(datos_raw + "Historico_Tasas_Credito.csv", sep=';')
df_pib = cargar_datos(datos_raw + "Historico_PIB_Corriente_Desc.csv", sep=';')
df_sml = cargar_datos(datos_raw + "Historico_Salario_Minimo.csv", sep=';')

In [7]:
print("Revisión inicial de los DataFrames cargados:")
print("\n--------------------------------------------------")
# Revisión inicial de los DataFrames
print("\nDataFrame de Deterioro:")
revision_inicial(df_deterioro)
print("\nDataFrame de IPC:")
revision_inicial(df_ipc)
print("\nDataFrame de Tasas:")
revision_inicial(df_tasas)
print("\nDataFrame de PIB:")
revision_inicial(df_pib)   
print("\nDataFrame de Salario Minimo:")
revision_inicial(df_sml)

Revisión inicial de los DataFrames cargados:

--------------------------------------------------

DataFrame de Deterioro:
Primeras filas del DataFrame:

,Mes informe,NIT,Cliente,Fecha de Vencimiento,Dias de Mora,Calificación,Cuenta Por Cobrar,% de Deterioro T-1,Valor de Deterioro T-1,% de Deterioro,Valor de Deterioro,Diferencias,FID,Fideicomiso
0,202301,bda703a41ee55dcb911f17164009bc87636552bd5a641b...,2fd44f99ebb5f4779baa8f8c3c18b8aa3778395b58c9bf...,15/09/2022,0,A,"2,380,000.00",0.0022,5236,0.0022,5236,0,b527ab75d12cba5a48db8e39b6dc776fafe8d0a64454c1...,ef41b40f72aabddd7491277f62e2d14d7f8126b6c06831...
1,202301,a6fbe7c3a37fa63f96d9ac3efe825deafc3c3d68ec13fe...,ddbb7aaaf540b1d826fe0a1b86d885bce851a6a10b17c1...,28/02/2023,0,A,0.00,0.0022,0,0.0022,0,0,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,c7b36740e4a4084fabf1f8fe801822e3c638dcc964917a...
2,202301,f81197f9f4a967d97235421ba58bbe1e28c3a5eaf0efec...,e7f467d21e1ae519b47b15c10f7de9368ada74e51d0e90...,28/02/2023,0,A,0.00,0.0022,0,0.0022,0,0,eaab7f29f0ebeeb28a5fcae7dba2f7b07bf2fa942bab4b...,f1cb9ef1cdaf60372aaecc67cf18b3e0faaec12172234f...
3,202301,c8ade62397784043d77a93a6884460c5d86843a81f9c26...,e9485dbb84aae5eb13fc27277fe3632c880ce13cf5c847...,28/02/2023,0,A,0.00,0.0022,0,0.0022,0,0,aa6df8861c8ad85418960d463c1bfff2ec9d257d58e5ab...,1fc58270cf6d565f7721f33a604319fd0fed003c975329...
4,202301,22a725be4cbf11a95514f3c8e93885502034dfc44b52a2...,30976b83fed3f372533fa798d28600e70c3afc2db43d26...,28/02/2023,0,A,0.00,0.0022,0,0.0022,0,0,22a725be4cbf11a95514f3c8e93885502034dfc44b52a2...,dfbe8cbeeca35fc3e79319d0ce9094df25966e94cef76b...

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11790 entries, 0 to 11789
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Mes informe              11790 non-null  int64
 1   NIT                      11790 non-null  object
 2   Cliente                  11790 non-null  object
 3   Fecha de Vencimiento     11790 non-null  object
 4   Dias de Mora             11790 non-null  int64
 5   Calificación             11790 non-null  object
 6   Cuenta Por Cobrar        11790 non-null  object
 7   % de Deterioro T-1       11790 non-null  float64
 8   Valor de Deterioro  T-1  11790 non-null  object
 9   % de Deterioro           11790 non-null  float64
 10  Valor de Deterioro       11790 non-null  object
 11  Diferencias              11790 non-null  object
 12  FID                      11790 non-null  object
 13  Fideicomiso              11790 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 1.3+ MB
None

Descripción datos categoricos del DataFrame:
                                                      NIT  \
count                                               11790
unique                                                809
top     f81197f9f4a967d97235421ba58bbe1e28c3a5eaf0efec...
freq                                                  677

                                                  Cliente  \
count                                               11790
unique                                                905
top     e7f467d21e1ae519b47b15c10f7de9368ada74e51d0e90...
freq                                                  478

       Fecha de Vencimiento Calificación Cuenta Por Cobrar  \
count                 11790        11790             11790
unique                  504            5              2914
top              15/09/2022            A              0.00
freq                    433         9109              1658

       Valor de Deterioro  T-1 Valor de Deterioro Diferencias  \
count                    11790              11790       11790
unique                    3480               3449        4193
top                          0                  0           0
freq                      1624               1602        3416

                                                      FID  \
count                                               11790
unique                                                787
top     6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...
freq                                                  236

                                              Fideicomiso
count                                               11790
unique                                                800
top     6882358497ac792d1c492112e07abcd2911ca9aef7c621...
freq                                                  228

Descripción datos cuantitativos del DataFrame:
         Mes informe  Dias de Mora  % de Deterioro T-1  % de Deterioro
count   11790.000000  11790.000000        11790.000000    11790.000000
mean   202370.112723     39.676845            0.049590        0.052024
std        65.673101    114.949666            0.166997        0.172516
min    202301.000000      0.000000            0.000000        0.000000
25%    202307.000000      0.000000            0.002200        0.002200
50%    202401.000000      0.000000            0.002200        0.002200
75%    202409.000000     21.000000            0.002200        0.002200
max    202503.000000   1598.000000            1.000000        1.000000

Valores nulos por columna:
Mes informe                0
NIT                        0
Cliente                    0
Fecha de Vencimiento       0
Dias de Mora               0
Calificación               0
Cuenta Por Cobrar          0
% de Deterioro T-1         0
Valor de Deterioro  T-1    0
% de Deterioro             0
Valor de Deterioro         0
Diferencias                0
FID                        0
Fideicomiso                0
dtype: int64

Valores duplicados:
0

DataFrame de IPC:
Primeras filas del DataFrame:

,Fecha,Inflación núcleo 15 anual,"Inflación sin alimentos ni regulados, anual","Inflación sin alimentos, anual"
0,31/01/1999,"16,47","14,87","17,09"
1,28/02/1999,"15,35","13,86","15,16"
2,31/03/1999,"13,92","13,39","14,40"
3,30/04/1999,"12,98","12,68","13,99"
4,31/05/1999,"12,12","11,64","13,29"

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 4 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Fecha                                        319 non-null    object
 1   Inflación núcleo 15 anual                    318 non-null    object
 2   Inflación sin alimentos ni regulados, anual  318 non-null    object
 3   Inflación sin alimentos, anual               318 non-null    object
dtypes: object(4)
memory usage: 10.1+ KB
None

Descripción datos categoricos del DataFrame:
                                                    Fecha  \
count                                                 319
unique                                                319
top      \r\nLos valores ausentes se indican con un pu...
freq                                                    1

       Inflación núcleo 15 anual Inflación sin alimentos ni regulados, anual  \
count                        318                                         318
unique                       255                                         244
top                         7,67                                        5,83
freq                           4                                           4

       Inflación sin alimentos, anual
count                             318
unique                            269
top                              3,26
freq                                4

Descripción datos cuantitativos del DataFrame:
No hay datos cuantitativos para describir.

Valores nulos por columna:
Fecha                                          0
Inflación núcleo 15 anual                      1
Inflación sin alimentos ni regulados, anual    1
Inflación sin alimentos, anual                 1
dtype: int64

Valores duplicados:
0

DataFrame de Tasas:
Primeras filas del DataFrame:

,Fecha,Créditos de consumo,Créditos de tesorería,Créditos ordinarios,Créditos preferenciales,Tasas de Colocación Banco de la República,Tasas de Colocación sin tesoreria,Tasas de Colocación total
0,31/03/1998,"42,24","37,22","36,46","35,2","37,14","37,12","37,18"
1,30/04/1998,"44,08","41,61","38,82","39,64","40,6","40,31","41,08"
2,31/05/1998,"45,32","37,79","40,29","36,33","39,68","40,09","38,9"
3,30/06/1998,"48,41","56,41","47,08","49,56","50,49","48,34","53,54"
4,31/07/1998,"51,57","42,69","48,1","45,52","46,4","47,92","44,41"

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 8 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Fecha                                      329 non-null    object
 1   Créditos de consumo                        328 non-null    object
 2   Créditos de tesorería                      328 non-null    object
 3   Créditos ordinarios                        328 non-null    object
 4   Créditos preferenciales                    328 non-null    object
 5   Tasas de Colocación Banco de la República  328 non-null    object
 6   Tasas de Colocación sin tesoreria          328 non-null    object
 7   Tasas de Colocación total                  328 non-null    object
dtypes: object(8)
memory usage: 20.7+ KB
None

Descripción datos categoricos del DataFrame:
                                                    Fecha Créditos de consumo  \
count                                                 329                 328
unique                                                329                 295
top      \r\nLos valores ausentes se indican con un pu...               17,89
freq                                                    1                   3

       Créditos de tesorería Créditos ordinarios Créditos preferenciales  \
count                    328                 328                     328
unique                   281                 278                     286
top                     8,41               10,82                    7,61
freq                       3                   4                       3

       Tasas de Colocación Banco de la República  \
count                                        328
unique                                       286
top                                        11,93
freq                                           3

       Tasas de Colocación sin tesoreria Tasas de Colocación total
count                                328                       328
unique                               291                       285
top                                 9,44                     11,01
freq                                   2                         3

Descripción datos cuantitativos del DataFrame:
No hay datos cuantitativos para describir.

Valores nulos por columna:
Fecha                                        0
Créditos de consumo                          1
Créditos de tesorería                        1
Créditos ordinarios                          1
Créditos preferenciales                      1
Tasas de Colocación Banco de la República    1
Tasas de Colocación sin tesoreria            1
Tasas de Colocación total                    1
dtype: int64

Valores duplicados:
0

DataFrame de PIB:
Primeras filas del DataFrame:

,Serie,31/03/2005,30/06/2005,30/09/2005,31/12/2005,31/03/2006,30/06/2006,30/09/2006,31/12/2006,31/03/2007,...,31/12/2022,31/03/2023,30/06/2023,30/09/2023,31/12/2023,31/03/2024,30/06/2024,30/09/2024,31/12/2024,31/03/2025
0,1. PIB reportado,"81.365,11","84.193,31","85.000,64","87.407,80","90.065,27","93.481,50","97.670,92","100.386,32","103.624,50",...,"380.434,66","394.716,61","393.428,22","396.105,19","400.311,97","409.841,13","421.222,64","429.775,49","445.607,92","452.132,02"
1,1.01. Valor agregado bruto,"74.313,27","76.491,49","77.334,04","79.566,41","81.885,27","84.868,44","88.488,83","90.532,46","93.519,73",...,"341.508,99","355.812,44","353.927,79","357.169,01","363.010,77","370.571,20","381.923,30","388.593,23","403.017,34","407.954,11"
2,"1.01.01. Agricultura, ganadería, caza, silvicu...","6.245,39","6.452,19","6.286,31","6.453,92","6.489,24","6.753,93","6.997,87","7.183,96","7.226,84",...,"34.028,70","36.774,58","34.497,84","33.814,15","34.480,43","34.763,37","38.312,36","40.856,24","44.474,10","45.254,37"
3,1.01.02. Explotación de minas y canteras,"5.243,60","5.471,32","5.564,09","5.792,51","6.149,08","6.717,84","6.819,22","6.440,86","6.480,03",...,"27.131,80","26.615,44","22.093,47","20.874,61","19.905,48","18.813,60","19.174,03","18.788,91","19.109,72","19.442,59"
4,1.01.03. Industrias manufactureras,"13.171,95","13.570,64","13.647,56","13.719,12","13.951,55","14.975,03","15.866,01","16.182,42","16.709,76",...,"42.431,51","44.532,77","43.129,39","42.392,07","42.171,77","42.874,77","42.384,56","42.903,11","44.112,71","44.583,10"

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 82 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Serie       16 non-null     object
 1   31/03/2005  15 non-null     object
 2   30/06/2005  15 non-null     object
 3   30/09/2005  15 non-null     object
 4   31/12/2005  15 non-null     object
 5   31/03/2006  15 non-null     object
 6   30/06/2006  15 non-null     object
 7   30/09/2006  15 non-null     object
 8   31/12/2006  15 non-null     object
 9   31/03/2007  15 non-null     object
 10  30/06/2007  15 non-null     object
 11  30/09/2007  15 non-null     object
 12  31/12/2007  15 non-null     object
 13  31/03/2008  15 non-null     object
 14  30/06/2008  15 non-null     object
 15  30/09/2008  15 non-null     object
 16  31/12/2008  15 non-null     object
 17  31/03/2009  15 non-null     object
 18  30/06/2009  15 non-null     object
 19  30/09/2009  15 non-null     object
 20  31/12/2009  15 non-null     object
 21  31/03/2010  15 non-null     object
 22  30/06/2010  15 non-null     object
 23  30/09/2010  15 non-null     object
 24  31/12/2010  15 non-null     object
 25  31/03/2011  15 non-null     object
 26  30/06/2011  15 non-null     object
 27  30/09/2011  15 non-null     object
 28  31/12/2011  15 non-null     object
 29  31/03/2012  15 non-null     object
 30  30/06/2012  15 non-null     object
 31  30/09/2012  15 non-null     object
 32  31/12/2012  15 non-null     object
 33  31/03/2013  15 non-null     object
 34  30/06/2013  15 non-null     object
 35  30/09/2013  15 non-null     object
 36  31/12/2013  15 non-null     object
 37  31/03/2014  15 non-null     object
 38  30/06/2014  15 non-null     object
 39  30/09/2014  15 non-null     object
 40  31/12/2014  15 non-null     object
 41  31/03/2015  15 non-null     object
 42  30/06/2015  15 non-null     object
 43  30/09/2015  15 non-null     object
 44  31/12/2015  15 non-null     object
 45  31/03/2016  15 non-null     object
 46  30/06/2016  15 non-null     object
 47  30/09/2016  15 non-null     object
 48  31/12/2016  15 non-null     object
 49  31/03/2017  15 non-null     object
 50  30/06/2017  15 non-null     object
 51  30/09/2017  15 non-null     object
 52  31/12/2017  15 non-null     object
 53  31/03/2018  15 non-null     object
 54  30/06/2018  15 non-null     object
 55  30/09/2018  15 non-null     object
 56  31/12/2018  15 non-null     object
 57  31/03/2019  15 non-null     object
 58  30/06/2019  15 non-null     object
 59  30/09/2019  15 non-null     object
 60  31/12/2019  15 non-null     object
 61  31/03/2020  15 non-null     object
 62  30/06/2020  15 non-null     object
 63  30/09/2020  15 non-null     object
 64  31/12/2020  15 non-null     object
 65  31/03/2021  15 non-null     object
 66  30/06/2021  15 non-null     object
 67  30/09/2021  15 non-null     object
 68  31/12/2021  15 non-null     object
 69  31/03/2022  15 non-null     object
 70  30/06/2022  15 non-null     object
 71  30/09/2022  15 non-null     object
 72  31/12/2022  15 non-null     object
 73  31/03/2023  15 non-null     object
 74  30/06/2023  15 non-null     object
 75  30/09/2023  15 non-null     object
 76  31/12/2023  15 non-null     object
 77  31/03/2024  15 non-null     object
 78  30/06/2024  15 non-null     object
 79  30/09/2024  15 non-null     object
 80  31/12/2024  15 non-null     object
 81  31/03/2025  15 non-null     object
dtypes: object(82)
memory usage: 10.4+ KB
None

Descripción datos categoricos del DataFrame:
                   Serie 31/03/2005 30/06/2005 30/09/2005 31/12/2005  \
count                 16         15         15         15         15
unique                16         15         15         15         15
top     1. PIB reportado  81.365,11  84.193,31  85.000,64  87.407,80
freq                   1          1          1          1          1

       31/03/2006 30/06/2006 30/09/2006  31/12/2006  31/03/2007  ...  \
count          15         15         15          15          15  ...
unique         15         15         15          15          15  ...
top     90.065,27  93.481,50  97.670,92  100.386,32  103.624,50  ...
freq            1          1          1           1           1  ...

        31/12/2022  31/03/2023  30/06/2023  30/09/2023  31/12/2023  \
count           15          15          15          15          15
unique          15          15          15          15          15
top     380.434,66  394.716,61  393.428,22  396.105,19  400.311,97
freq             1           1           1           1           1

        31/03/2024  30/06/2024  30/09/2024  31/12/2024  31/03/2025
count           15          15          15          15          15
unique          15          15          15          15          15
top     409.841,13  421.222,64  429.775,49  445.607,92  452.132,02
freq             1           1           1           1           1

[4 rows x 82 columns]

Descripción datos cuantitativos del DataFrame:
No hay datos cuantitativos para describir.

Valores nulos por columna:
Serie         0
31/03/2005    1
30/06/2005    1
30/09/2005    1
31/12/2005    1
             ..
31/03/2024    1
30/06/2024    1
30/09/2024    1
31/12/2024    1
31/03/2025    1
Length: 82, dtype: int64

Valores duplicados:
0

DataFrame de Salario Minimo:
Primeras filas del DataFrame:

,Serie,Auxilio de transporte mensual,Salario mínimo mensual,"Salario mínimo mensual, sector rural","Salario mínimo mensual, sector urbano alto"
0,31/12/1950,.,.,60,60
1,31/12/1951,.,.,60,60
2,31/12/1952,.,.,60,60
3,31/12/1953,.,.,60,60
4,31/12/1954,.,.,60,60

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Serie                                       77 non-null     object
 1   Auxilio de transporte mensual               76 non-null     object
 2   Salario mínimo mensual                      76 non-null     object
 3   Salario mínimo mensual, sector rural        76 non-null     object
 4   Salario mínimo mensual, sector urbano alto  76 non-null     object
dtypes: object(5)
memory usage: 3.1+ KB
None

Descripción datos categoricos del DataFrame:
             Serie Auxilio de transporte mensual Salario mínimo mensual  \
count           77                            76                     76
unique          77                            48                     43
top     31/12/1950                             .                      .
freq             1                            29                     34

       Salario mínimo mensual, sector rural  \
count                                    76
unique                                   18
top                                       .
freq                                     42

       Salario mínimo mensual, sector urbano alto
count                                          76
unique                                         18
top                                             .
freq                                           42

Descripción datos cuantitativos del DataFrame:
No hay datos cuantitativos para describir.

Valores nulos por columna:
Serie                                         0
Auxilio de transporte mensual                 1
Salario mínimo mensual                        1
Salario mínimo mensual, sector rural          1
Salario mínimo mensual, sector urbano alto    1
dtype: int64

Valores duplicados:
0